@font-face {
  font-family: 'Fig Tree';
  src: url('../assets/fonts/Figtree-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fig Tree';
  src: url('../assets/fonts/Figtree-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Fig Tree';
  src: url('../assets/fonts/Figtree-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

:root {
  --primary-yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
  --primary-font: 'Fig Tree';
}

/* Hidden class for accessibility */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  font-family: var(--primary-font);
  background-color: var(--primary-yellow);
}

.site-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  align-items: center;
}

.card-container {
  padding: 1.5rem;
  margin-top: 1.5rem;
  width: 327px;
  border: 2px solid #000;
  border-radius: 1.25rem;
  box-shadow: 8px 8px var(--black);
  background-color: var(--white);
}

@media (min-width: 576px) {
  .card-container {
    width: 384px;
  }
}

.card-section {
  margin-bottom: 1.5rem;
}

.card__img-block {
  background-image: url('../assets/images/illustration-article.svg');
  border-radius: 0.625rem;
  min-height: 200px;
}

.card-label {
  background-color: var(--primary-yellow);
  font-weight: 800;
  display: inline-block;
  border-radius: 0.25rem;
  padding: 4px 12px;
  margin-bottom: 0.75rem;
}

.card-label,
.card-meta {
  font-size: 0.75rem;
}

@media (min-width: 576px) {
  .card-label,
  .card-meta,
  .card-byline {
    font-size: 0.875rem;
  }
}

.card-headline {
  display: inline-block;
  font-size: 1.25rem;
  margin: 0.75rem 0;
  transition: all 0.5s;
}

@media (min-width: 576px) {
  .card-headline {
    font-size: 1.5rem;
  }
}

.card-headline:hover {
  color: var(--primary-yellow);
  background-color: var(--black);
  cursor: pointer;
}

.card-description {
  color: var(--gray);
  font-size: 0.87rem;
  font-weight: 600;
}

@media (min-width: 576px) {
  .card-description {
    font-size: 1rem;
  }
}

.card__footer {
  display: flex;
  align-items: center;
}

.author-img {
  width: 32px;
  height: 32px;
  margin-right: 0.75rem;
}

.card-byline {
  font-weight: 800;
  font-size: 0.875rem;
}

.fm-byline-row {
  margin: 1rem 0;
}

.fm-byline {
  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
}

.fm-byline,
.fm-byline a {
  color: var(--black);
  font-weight: 600;
}
